
.box {
    width: 400px;
    height: 400px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid #666666;
    border-radius: 20px;
}

#promptBox {
    background-color: #fcfc7c;
    width: 70%;
}

#promptButton {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 33%;
    margin-right: 33%;
    margin-left: 33%;
    border: 2px solid #666666;
    border-radius: 20px;
    min-height: 80px;
    font-size: xx-large;
}